In [16]:
import pandas as pd

In [17]:
estaciones = pd.read_csv('../../data/cleaned/calidad_aire/conjunto_estaciones_limpio.csv')

In [18]:
estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668747 entries, 0 to 668746
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Fecha             668747 non-null  object
 1   Hora              668747 non-null  int64
 2   Velocidad         222214 non-null  float64
 3   Direccion_viento  222502 non-null  float64
 4   Temperatura       170855 non-null  float64
 5   Presion           171957 non-null  float64
 6   Radiacion_solar   168448 non-null  float64
 7   Precipitacion     171559 non-null  float64
 8   Velocidad_maxima  160874 non-null  float64
 9   Origen            668747 non-null  object
 10  PM2.5             402102 non-null  float64
 11  PM1               50215 non-null   float64
 12  NO                558437 non-null  float64
 13  NO2               558436 non-null  float64
 14  PM10              401806 non-null  float64
 15  NOx               558437 non-null  float64
 16  C8H10             59295 non-null   float64
 17  SO2               482507 non-null  float64
 18  CO                273477 non-null  float64
 19  O3                484074 non-null  float64
 20  C7H8              59102 non-null   float64
 21  C6H6              59219 non-null   float64
 22  Ruido             24882 non-null   float64
 23  NH3               33956 non-null   float64
 24  Dia               668747 non-null  int64
 25  Mes               668747 non-null  object
 26  Año               668747 non-null  int64
 27  Dia_Semana        0 non-null       float64
 28  MES_NUMERO        668747 non-null  int64
 29  FechaHora         668747 non-null  object
dtypes: float64(22), int64(4), object(4)
memory usage: 153.1+ MB

In [19]:
estaciones.head()

,Fecha,Hora,Velocidad,Direccion_viento,Temperatura,Presion,Radiacion_solar,Precipitacion,Velocidad_maxima,Origen,...,C7H8,C6H6,Ruido,NH3,Dia,Mes,Año,Dia_Semana,MES_NUMERO,FechaHora
0,2023-01-01,0,2.0,283.0,12.6,1013.0,0.0,0.0,5.2,València-Conselleria Meteo,...,NaN,NaN,NaN,NaN,1,Enero,2023,NaN,1,2023-01-01
1,2023-01-01,1,2.2,300.0,12.2,1013.0,0.0,0.0,5.2,València-Conselleria Meteo,...,NaN,NaN,NaN,NaN,1,Enero,2023,NaN,1,2023-01-01 01:00:00
2,2023-01-01,2,1.8,296.0,11.3,1012.0,0.0,0.0,5.7,València-Conselleria Meteo,...,NaN,NaN,NaN,NaN,1,Enero,2023,NaN,1,2023-01-01 02:00:00
3,2023-01-01,3,3.6,297.0,11.5,1012.0,0.0,0.0,8.1,València-Conselleria Meteo,...,NaN,NaN,NaN,NaN,1,Enero,2023,NaN,1,2023-01-01 03:00:00
4,2023-01-01,4,5.4,307.0,11.4,1012.0,0.0,0.0,9.5,València-Conselleria Meteo,...,NaN,NaN,NaN,NaN,1,Enero,2023,NaN,1,2023-01-01 04:00:00

In [20]:
float_cols = estaciones.select_dtypes(include=['float64']).columns
estaciones[float_cols] = estaciones[float_cols].astype('float32')

In [21]:
int_cols = estaciones.select_dtypes(include=['int64']).columns
int_cols

Index(['Hora', 'Dia', 'Año', 'MES_NUMERO'], dtype='object')

In [22]:
estaciones[["Hora", "Dia", "MES_NUMERO"]] = estaciones[["Hora", "Dia", "MES_NUMERO"]].astype("int8")
estaciones["Año"] = estaciones["Año"].astype("int16")

In [23]:
estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668747 entries, 0 to 668746
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Fecha             668747 non-null  object
 1   Hora              668747 non-null  int8
 2   Velocidad         222214 non-null  float32
 3   Direccion_viento  222502 non-null  float32
 4   Temperatura       170855 non-null  float32
 5   Presion           171957 non-null  float32
 6   Radiacion_solar   168448 non-null  float32
 7   Precipitacion     171559 non-null  float32
 8   Velocidad_maxima  160874 non-null  float32
 9   Origen            668747 non-null  object
 10  PM2.5             402102 non-null  float32
 11  PM1               50215 non-null   float32
 12  NO                558437 non-null  float32
 13  NO2               558436 non-null  float32
 14  PM10              401806 non-null  float32
 15  NOx               558437 non-null  float32
 16  C8H10             59295 non-null   float32
 17  SO2               482507 non-null  float32
 18  CO                273477 non-null  float32
 19  O3                484074 non-null  float32
 20  C7H8              59102 non-null   float32
 21  C6H6              59219 non-null   float32
 22  Ruido             24882 non-null   float32
 23  NH3               33956 non-null   float32
 24  Dia               668747 non-null  int8
 25  Mes               668747 non-null  object
 26  Año               668747 non-null  int16
 27  Dia_Semana        0 non-null       float32
 28  MES_NUMERO        668747 non-null  int8
 29  FechaHora         668747 non-null  object
dtypes: float32(22), int16(1), int8(3), object(4)
memory usage: 79.7+ MB

In [24]:
estaciones.to_feather('../../data/cleaned/calidad_aire/conjunto_estaciones_limpio.feather')

In [34]:
df = pd.read_feather('../../data/cleaned/calidad_aire/conjunto_estaciones_limpio.feather')

df.to_parquet('../../data/cleaned/calidad_aire/conjunto_estaciones_limpio.parquet')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668747 entries, 0 to 668746
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Fecha             668747 non-null  object
 1   Hora              668747 non-null  int8
 2   Velocidad         222214 non-null  float32
 3   Direccion_viento  222502 non-null  float32
 4   Temperatura       170855 non-null  float32
 5   Presion           171957 non-null  float32
 6   Radiacion_solar   168448 non-null  float32
 7   Precipitacion     171559 non-null  float32
 8   Velocidad_maxima  160874 non-null  float32
 9   Origen            668747 non-null  object
 10  PM2.5             402102 non-null  float32
 11  PM1               50215 non-null   float32
 12  NO                558437 non-null  float32
 13  NO2               558436 non-null  float32
 14  PM10              401806 non-null  float32
 15  NOx               558437 non-null  float32
 16  C8H10             59295 non-null   float32
 17  SO2               482507 non-null  float32
 18  CO                273477 non-null  float32
 19  O3                484074 non-null  float32
 20  C7H8              59102 non-null   float32
 21  C6H6              59219 non-null   float32
 22  Ruido             24882 non-null   float32
 23  NH3               33956 non-null   float32
 24  Dia               668747 non-null  int8
 25  Mes               668747 non-null  object
 26  Año               668747 non-null  int16
 27  Dia_Semana        0 non-null       float32
 28  MES_NUMERO        668747 non-null  int8
 29  FechaHora         668747 non-null  object
dtypes: float32(22), int16(1), int8(3), object(4)
memory usage: 79.7+ MB

In [46]:
df = pd.read_csv('../../data/raw/calidad_aire/conjunto_estaciones.csv')

/tmp/ipykernel_42550/2662063664.py:1: DtypeWarning: Columns (2,4,5,8,9,17,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/raw/calidad_aire/conjunto_estaciones.csv')

In [50]:
# …existing code…

# 1) Intentar inferir numéricos/fechas en columnas object
for col in df.select_dtypes(include=['object']).columns:
    # a) ¿puede ser numérico?
    tmp = pd.to_numeric(df[col], errors='coerce')
    if tmp.notna().sum() > 0:
        df[col] = tmp
        continue
    # b) ¿puede ser fecha?
    tmp = pd.to_datetime(df[col], errors='coerce', dayfirst=False)
    if tmp.notna().sum() > 0:
        df[col] = tmp
        continue
    # c) si no, asegurar que es string puro
    df[col] = df[col].astype(str)

/tmp/ipykernel_42550/1399525093.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tmp = pd.to_datetime(df[col], errors='coerce', dayfirst=False)

In [51]:
df.to_parquet('../../data/raw/calidad_aire/conjunto_estaciones.parquet')

In [52]:
df_parquet = pd.read_parquet(
    "../../data/raw/calidad_aire/conjunto_estaciones.parquet",
    engine="pyarrow"
)

In [53]:
df_parquet

,FECHA,HORA,Veloc.,Direc.,Temp.,H.Rel.,Pres.,R.Sol.,Precip.,Veloc.máx.,...,Unnamed: 19,Unnamed: 21,HCT,CH4,HNM,PM10,Unnamed: 26,Unnamed: 28,TCAB,NH3
0,2025-01-01,0.0,NaN,342.0,NaN,100.0,1018.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-01,1.0,NaN,326.0,NaN,100.0,1018.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-01,2.0,NaN,321.0,NaN,100.0,1017.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-01-01,3.0,NaN,317.0,NaN,100.0,1017.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-01-01,4.0,NaN,317.0,NaN,100.0,1017.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683229,2019-12-31,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
683230,2019-12-31,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
683231,2019-12-31,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
683232,2019-12-31,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
683233,2019-12-31,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0